header{

    .cabecera-logo{
        display: flex; 
    }

    .cabecera-logo-imagen svg{
        width: 5rem;

        .st0{
            fill:none;
        }

        .st1{
            fill:none;
            stroke:url(#SVGID_1_);
            stroke-width: 2.5;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }

    .cabecera-logo-titulo{
        padding: 1.2em 5%;
    }

    .cabecera-menu-mobile{
        background-color: hsl(0, 0%, 100%);
        height: 100vh;
        left: 0;
        position: fixed;
        top: -100vh;
        transition: top 0.5s;
        width: 100%;
        line-height: 3em;
        text-align: center;

        &.active{
            top: 0;
            transition: top 2s;
        }
    }

    .cabecera-menu ul{
        padding: 3% 3%; 
    }

    .cabecera-principal-boton-menu{
        width:10%;
        margin-top:6%;
    }
}


