

.cabecera-menu-carrito{
  
    width: 3%;
    
    position: absolute;
    margin-left: 25%;

}

.contador{
    margin-left:70%;
    margin-top: 1%;
}

.order-price{
    margin-left:80%;
    font-weight: 600;

    option{
        font-weight: 600;
    }

  
   
}


.categories{
    background-color: #7495DF;
    min-height: 100vh;
    padding: 10% 15%;
    line-height:2em;

    .categories-title{
        margin-bottom: 1rem;
    }

    .categories-elements{

        ul li{
            cursor: pointer;
        }

        ul li:hover{
            color: #A1E8E8;
        }

        ul li.active{
            color: #A1E8E8;
        }
    }
}

.products{
        
    .products-gallery{
    
        background-color:#A1E8E8 ;
        padding: 2rem 2%;  
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        width: 95%;

        .product{
         
             border: 3px solid black;
             padding: 1rem;
             margin: 1rem 1rem;
             min-height: 35vh;
             width: 25%;

     
             .product-description{
                 min-height: 10vh;
                 padding: 5% 0%;
             }
     
             
             .product-price {
     
                 span{
                     font-weight: 600;
                     font-size: 2.2em;
                 }
             }
     
         }
     
     }
     
}









