.filters{
    width: 100%;
    background-color:#A1E8E8;
    text-align: center;
    svg{
        margin-top: 2rem;
        width: 2rem;
        color: hsl(0, 0%, 0%);
    }
}

.menu{
    padding-left: 70%;
    padding-top: 0.5rem;
}

.panel{
    
    background-color:#7495DF;
    padding: 5% 5% 5% 10%;
    
  
}

.panel-table{
    color: rgb(0, 0, 0);
  
    
    table{
        text-align: center;
        width: 90%;
        
        th{
            border-bottom: 1px solid rgb(0, 0, 0);
            font-size: 1.5rem;
        }
        td{
            padding-top: 1rem;
         
        }
    }
}

.panel-button-table{
    cursor: pointer;
    svg{
        color: rgb(255, 255, 255);
        width: 1.5rem;
    }
}


.form-element{
    margin-top:3em;
    margin-bottom: 3em;
}

.form-element-label-ckeditor{
    font-weight: 600;
    font-size:2em;
    padding:3% 5% 2% 30%;
    background-color: rgb(255, 255, 255);
   
    
}




.material-designs{

    justify-content: space-between;
    display:flex;
    margin-left: 70%;
    button{
        cursor: pointer;
    }
    

    .guardado {
        svg{
            width: 2em;
            margin-top: 1em;
            padding: 0.8em;
        }

    
        
    }
    
    .escoba{
        svg{
            width: 2em;
            margin-top: 1em;  
            padding: 0.7em;   
        }

   
        
    }

}

.info-mini{
    line-height: 1.5em;
    position: absolute;

}


